<!--Add fonts from Googlefonts-->

<!-- slab serif -->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
<!-- font-family: 'Roboto Slab', serif; -->

<!-- serif -->
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
<!-- font-family: 'Source Serif Pro', serif; -->

<!-- lobster -->
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<!-- font-family: 'Lobster', serif; -->

<!-- Outfit -->
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
<!-- font-family: 'Outfit', serif; -->