body {
  background-color: #1e1e1e;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin: 0.67em 0;
  font-family: "Roboto Slab", Georgia, serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #262626;
}

h1 a {
  font-size: 1em;
}

.home #main h1 {
  font-size: 3em;
  line-height: 1;
}

.site-header .site-title {
  font-size: 1.5em;
}

.site-header h1.site-title {
  background: linear-gradient(270deg, #FFC371 0%, #FF5F6D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.75em;
  color: #E1E1E1;
}

h3 {
  font-size: 1.5em;
  color: #E1E1E1;
}

h4 {
  font-size: 1.15em;
  color: #E1E1E1;
}

.caption {
  font-size: 0.9em;
}

ol,
ul {
  list-style-position: inherit;
  padding-left: 2em;
  font-size: 0.8em;
}

a {
  color: #FFA07A;
  text-decoration: none;
}

#page-content .post-content p a {
  color: #FFA07A;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* custom class */
blockquote {
  font-size: .9em;
  margin: 20px auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #FFA07A;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

/* custom class */
blockquote p {
  color: #555555;
}

blockquote::before,
blockquote::after {
  color: #FFA07A;
  font-size: 4em;
  position: absolute;
  font-family: Arial, sans-serif;
}

/* CSS customization added */
blockquote::before {
  content: "\201C";
  left: 10px;
  top: -10px;
}

/* custom css class */
blockquote::after {
  content: "\201E";
  right:10px;
  bottom:-10px;
}

/* custom css class */
blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.caption {
  font-size: 0.9em;
  color: #E1E1E1;
  font-style: italic;
}

/* change the first paragraph in a blog post */
.post-content p:first-child,
.post-content p {
  font-size: 1em;
}

/* custom style added, prefer Outfit font for headings, not Lobster */
.post-content h2 {
  font-family: 'Outfit', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* when the screen gets small the fonts then change size. There are 2 steps here. You can leave this alone*/

@media screen and (max-width: 768px) {
  body {
    font-size: 1.1em;
  }

  .home #main h1 {
    font-size: 2.5em;
  }

  h1 a {
    font-size: 0.95em;
  }

  header#main h1 {
    font-size: 2.1em;
  }

  p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 450px) {
  body {
    font-size: 0.9em;
  }

  h1 a {
    font-size: 0.9em;
  }

  header#main h1 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.3em;
  }
}
